

/*------------------HEADER-------------*/

.sitio-header {
    background-color: #ffffff;
    border-bottom: 3px solid #ff9d00;
    padding: 10px 30px;
    position: sticky;
    top: 0;
    z-index: 100;
}

.header-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

.logo img {
    height: 55px;
    width: auto;
    display: block;
}

.nav-principal ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 18px;
}

.nav-principal a {
    color: #003d82;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.nav-principal a:hover {
    color: #ff9d00;
}

/*------------------HEADER-------------*/





/*------------------FOOTER-------------*/
.sitio-footer {
    background-color: #ff9000;
    color: #fff;
    padding: 20px 30px;
    margin-top: 40px;
}

.footer-contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;
    flex-wrap: wrap;
    gap: 10px;
}

.footer-links a {
    color: #fff;
    text-decoration: none;
    margin-left: 15px;
}

.footer-links a:hover {
    text-decoration: underline;
}
/*------------------FOOTER-------------*/